.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
font-family: 'Roboto Condensed', sans-serif;
background-color:rgb(72, 83, 112);
}

.main-menu-container {
    padding-top: 50px;
}

.main-menu {
    padding: 0;
    border-bottom: 3px solid #68d2c3;
    /* az inline block reagál a 'text-aligh: center'-re */
    text-align: center;
}


.main-menu-item {
    display: inline-block;
}

.main-menu-item a {
    display: block;
    text-decoration: none;
    color: #e9e4ff;
    width: 120px;
    /* alul, fölül 20 pixel; jobbra, balra 0 pixel */
    padding: 20px 0;
}

.main-menu-item:hover a {
    color: white;
    background-color: rgba(41, 47, 48, 0.2);
}

.main-content {
color: white;
width: 800px;
/* az óramutató járásával egyező irányba a 4 értékes margó (fent, jobbra, lent, balra) */
margin: 40px auto 0 auto;
}

header {
    width: 400px;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

/* A header-en belüli 'p tag'-et formázza meg. */
header p {
    font-size: 22px;
    margin: 0 0 30px 0;
}

.company-image {
    float:right
}

main {
    width:  500px;
    line-height: 1.6;
}

footer {
    color: white;
    text-align: center;
    margin-top: 20px;
}