.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

nav {
    background-color: black;
}

body {
font-family: Verdana, Geneva, sans-serif, Arial, Helvetica;
background-color: rgb(34, 33, 33);
color: white;
margin: 0 auto;
}

.main-menu {
width: 50%;
border-bottom: 4px solid #800404;
text-align: center;
margin: 0 auto;
padding-bottom: 20px;
}

.main-menu-item {
    display:inline-block;
}
.main-menu-item a {
    text-decoration: none;
    color: hsl(34, 78%, 42%);
    width: 100px;
    padding: 0 10px 0 10px;
}

.created-date {
    color: darkslategrey;
}

time {
    padding-left: 10px;
}

picture {
    display: block;
    width: 30%;
    margin: 0 auto;
}

.company-image1 {
    width: 49%;
    margin: 0 auto;
}

.company-image2 {
    width: 49%;
    margin: 0 auto;
}

.company-image3 {
    display: block;
    width: 49%;
    margin: 0 auto;
}

sub {
    display: block;
    width: 14%;
    margin: 0 auto;
}

footer {
    color: white;
    display: block;
    background-color: black;
    padding: 0 0 80px 0;
}