.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
font-family: Verdana, Geneva, sans-serif, Arial, Helvetica;
background-color: black;
color: white;
}

.main-menu {
width: 50%;
border-bottom: 4px solid #800404;
text-align: center;
margin: 0 auto;
padding-bottom: 20px;
}

.main-menu-item {
    display:inline-block;
}
.main-menu-item a {
    text-decoration: none;
    color: hsl(34, 78%, 42%);
    width: 100px;
    padding: 0 10px 0 10px;
}

.created-date {
    color: darkslategrey;
}

time {
    padding-left: 10px;
}

.company-image {
    margin: 0 auto;
}

additional {
    display: block;
    margin: 20px 0 0 0;
}